@import-normalize; /* bring in normalize.css styles */
@import "react-toastify/dist/ReactToastify.css";
@import url("./css/root.css");

body {
  margin: 0;
  font-family: Manrope, Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
